<!doctype html>
<html ng-app>
  <head>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
    <!--<script src="angular.min.js"></script> -->
    <script src="MojScript.js"></script>
	<link rel="Stylesheet" type="text/css" href="style.css" />
  <script src="jquery-1.11.1.min.js"></script>
	
  </head>
  <body>
  
	<h2></br>PRZYK&#321;AD FILTROWANIA</h2>
	<div id="gora">
		<ul>
			<li id="xxx">Waluta</li>
			<li style="margin-left: 120px;" id="xxx"> Kupno &nbsp;&nbsp;</li>
			<li id="xxx">Sprzeda&#380; &nbsp;&nbsp;</li>
			<li id="xxx">Zmiany &nbsp;&nbsp;</li>
		</ul>
				
	</div>
	<div id="dol">
	   <div ng-app="APP" ng-controller="APP.ApplicationCtrl">
			
			<div id="lewa1">
			<ul><li ng-repeat="waluty in Valuty | filter:filterQuery">{{waluty}}</li></ul>
			</div>
			
			<div id="lewa">
			<ul><li ng-repeat="item in cities | filter:filterQuery">{{item.B}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{item.S}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;	{{item.P}}</li></ul>
			</div>
			
			<input type="text" ng-model="filterQuery" placeholder="filter" />
		</div>
	</div>
	
	<h2></br>SORTOWANIE PO SPADKU/WZRO&#346;CIE</h2>
	<div ng-controller="Ctrl">
	  <pre>Sorting predicate = {{predicate}}; reverse = {{reverse}}</pre>
	  <hr/>
	  [ <a href="" ng-click="predicate=''">unsorted</a> ]
	  <table id="lewa1">
		<tr>
			<th>Waluty</th>
		</tr>
		<tr ng-repeat="waluty in Valuty | filter:filterQuery">
		  <td>{{waluty}}</td>
		</tr>
	  </table>
	  <table id="lewa" class="cities">
		<tr>
			<th>Kupno</th>
			<th>Sprzeda&#380;</th>
		  <th><a href="" ng-click="predicate = 'P'; reverse=!reverse">Zmiany</a></th>
		</tr>
		<tr ng-repeat="item in cities | orderBy:predicate:reverse">
		  <td>{{item.B}}</td>
		  <td>{{item.S}}</td>
		  <td>{{item.P}}</td>
		</tr>
	  </table>
	</div>

  </body>
</html>