li:nth-child(+2n) {
	color: red;
	background-color: #7FFFD4;
	
}
li:nth-child(+2n - 1) {
	color: #7FFF00;
	background-color: #8A2BE2;
}
ul {
	list-style-type: none;
}
#lewa {
	float: left;
	width: 300px;
	position: relative;
	top: 0px;
	right: 0;
	width: 350px;
	text-align: center;
}
#lewa1 {
	text-align: center;
	float: left;
	margin-left: 0px;
	position: relative;
	top: 0px;
	right: 0;
	width: 90px;
}
.ng-valid {
	height: 153px;
}
#gora {
	width: 100%;
	font-size: 17px;
	margin-top: 0px;
	background-color: #FFFFCC;
	padding-top: 5px;
	margin-right: 5px;
}

#xxx {
	display: inline;
	color: black;
	font-weight: bold;
	background-color: #FFFFCC;
}
#dol {
	width: 100%;
	background-color: #7FFF00;
}
* {
	margin: 0;
	padding: 0;
}